<%- include("partials/header") %>
<div class="container" style="margin:20px auto;text-align: center;">
    <h1>Welcome to YelpCamp</h1>
    <a class="btn btn-lg" style="border:1px solid red;margin-top: 20px;" href="/campground">
        Go to Campground 
        <img style="height:30px;width:30px;" src="https://cdn.pixabay.com/photo/2016/04/22/14/31/fire-1345869__340.png">
    </a>
</div>
<%- include("partials/footer") %>
