<%- include("partials/header") %>

<div class="container">
    <h1 style="text-align: center;margin-top: 20px;">Create a new Campground</h1>
    <div class="row">
        <div style="width:40%;margin:15px auto;">
            <form action="/campground" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Camp name" name="name" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Image URL" name="image" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Camp Description" name="description" required>
                </div>
                <button class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
            <hr>
            <a class="btn " style="border: 1px solid red;" href="/campground"><strong>Go back </strong><img style="height:20px;width:20px;background-color:pink" src="https://cdn1.iconfinder.com/data/icons/navigation-arrows/512/arrow-back-512.png" alt="Go back"></a>
        </div>
    </div>
</div>
<%- include("partials/footer") %>